@import "utilities/_variables";
@import "utilities/_mixins";
@import "base/_typography";
@import "base/_animation";
@import "base/_base";
@import "layout/_grid";
@import "layout/_navigation";
@import "layout/_footer";
@import "layout/_header";
@import "components/_buttons";




.container {
    position: relative;
    top: 40%;
    left: 40%;
    width: 30rem;

    &__login-form {
        align-content: center;

        &--email {
            border-radius: 1rem;
            width: 90%;
            border: 3px solid ;
            display: inline-block;
            padding: 1.2rem 2rem;
            margin: 1rem;
            border: 1px solid #ccc;
        }
    }
}
.lables-text {
    font-weight: bold;
    color: black;
}

.btn-login {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
        opacity: 0.8;
    }
}



.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    transition: all 0.2s ease-in-out;
    border: 1px solid #527d8f;
}

.card:hover {
    box-shadow: 5px 5px grey;
}

.btn {
    font-size: 14px;
    margin-top: 20px;
    background-color: #527d8f;
    color: white;
}

#item_cards {
    justify-content: center;
    margin: auto !important;
}

//------------------ about us
.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,$color-Light-green, $color-Dark-green);
    display:inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing:.2rem;

    &:hover{
        transform:skewY(2deg);
        text-shadow:.5rem 1rem 2rem rgba(0,0,0,.2)
    }

}